APP_NAME=idp-portal
APP_ENV=dev

FRONTEND_PORT=3000
BACKEND_PORT=8000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=idp_portal
POSTGRES_USER=idp_user
POSTGRES_PASSWORD=CHANGE_ME

BOLT_PROVIDER=PLACEHOLDER
BOLT_PROJECT_NAME=PLACEHOLDER
BOLT_API_KEY=PLACEHOLDER_DO_NOT_STORE_REAL_SECRET

GITHUB_ORG=REPO_OWNER_PLACEHOLDER
GITHUB_TOKEN=PLACEHOLDER_DO_NOT_STORE_REAL_SECRET

IMAGE_REGISTRY=REGISTRY_PLACEHOLDER
IMAGE_NAMESPACE=NAMESPACE_PLACEHOLDER

ARGOCD_SERVER=PLACEHOLDER
VAULT_ADDR=PLACEHOLDER
